
.overlay {
    position: fixed;
    display: grid;
    justify-items: center;
    align-items: top;
    padding-top: 50px;
    height: 100%;
    width: 100%;
}

.popup {
width: 200px;
height: 150px;
background: pink;
box-shadow: 0 0 15px black;
position: relative;
padding: 10px;
border-radius: 5px;
}

.popup-btn {
    background-color: rgb(218, 218, 218);
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px 8px;
    position: absolute;
    left: 10px;
    bottom: 10px;
   font-size: large;

}
.is-required {
    color: red;
}


.form {
    background-color: rgb(120, 189, 253);
margin: 20px;
  
    padding: 30px;
   /*  text-align: center; */
 
}
.card {
    padding: 20px;
}

.btn-send {
    margin: 20px ;
}

/* input {
    padding: 3px;
    margin: 5px auto;
}

.textfield {
    width: 40%;
    height: 30px;
}

input, .textfield, textarea {
    border: solid black 1px;
    border-radius: 3px;
} */